.container{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.container .card {
  border: 1px solid;
  width: 350px;
  height: 350px;
}

.card img{
  width: 350px;
  height: 500px;
  align-items: center;
}

.container-fluid{
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  font-style: italic;
  font-weight: bold;
  justify-content: center;
}

.navbar bg-body-tertiary{
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #1e3a8a; /* Navy Blue */
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  font-size: 22px;
  font-weight: bold;
}
.navbar:hover {
  background-color: #374151; /* Darker shade on hover */
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
