.card {
  width: 400px;
  height: 700px;
  padding: 6px;
  margin: 3px;
  border-radius: 40px;
  background: white;
  text-align: center;
  box-shadow: 8px 4px 12px rgba(0,0,0,0.2);
  display: inline-block;
}

.card-img {
  width: 350px;
  height: 500px;
  border-radius: 40px;
  object-fit: cover;
}

.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btn {
  width: 40px;
  height: 40px;
  font-size: 25px;
  border: none;
  background: #638ac8;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background: #1d4ed8;
}

.count-display {
  width: 140px;
  height: 40px;
  margin: 0 10px;
  font-size: 22px;
  border-radius: 8px;
  border: 2px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 per row */
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

body {
  background-color: #525a66;   /* Light grey/blue background */
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #010612; /* Navy Blue */
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  font-size: 22px;
  font-weight: bold;
}

.reset-btn {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #796868; /* red */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
}

.reset-btn:hover {
  background-color: #957c38;
}
